{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!--contact-area start-->
<div class="contact-area bg-f3f4f7 pt-105 pt-sm-65 pb-120 pb-sm-80 bg-info">
	<div class="container">
		<div class="row">
			<div class="col-lg-10" style="margin-bottom: 40px;">
				<div class="section-title text-center">
					<h3 style="margin-top: 30px;">Career</h3>
				</div>
			</div>
		</div>

		<div class="row mt-65 mt-sm-55">

			<div class="col-lg-6">
				<div class="contact-form style-2 mt-sm-50">
                    <h4>UPLOAD RESUME</h4>
					<form action="" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name:*" required name="name">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email:*" required	name="email">
								</div>
							</div>

                            <div class="col-lg-12">
								<div class="form-group">
                                    <input type="file" class="form-control" placeholder="Upload:*" required name="upload resume" id="myfile" name="myfile">
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Current CTC:*" required name="currentctc">
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Expected CTC:*" required name="expectedctc">
								</div>
							</div>


                            <div class="col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Subject:*" required name="subject">
								</div>
							</div>

                            <div class="col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Phone:*" required name="phone">
								</div>
							</div>

							<div class="col-lg-12">
								<div class="form-group">
									<textarea style="height:200px;" class="form-control" name="message" placeholder="Message" required></textarea >
								</div>
							</div>
							<div class="col-lg-12">
								<button type="submit" class="btn-common btn-full">SEND MESSAGE</button>
							</div>
						</div>
					</form>

					{% if messages %}
					{% for message in messages %}
						<p style="color:white">{{message}}<p>
					{% endfor %}
					
					{% else %}
					{% endif %}
				</div>
			</div>

            <div class="col-lg-6" style="margin-bottom: 40px;">
                <h4>CURRENT OPENINGS</h4>
				<div class="contact-info">
					<div class="single-contact-info">
						<h5>Details of opening</h5><hr>
						<p>Quality Auditor Experience – Min. 1 Year Skills – Automated and Manual Testing</p>
					</div>
					<div class="single-contact-info">
						<h5>Telephone Numbers</h5>
						<p>(+88) 0111 223 445</p>
					</div>
					<div class="single-contact-info">
						<h5>Email Address</h5>
						<p>CleanProtheme@gmail.com</p>
					</div>
					<div class="social-icons style-3">
						<a href="#"><i class="social_facebook"></i></a>
						<a href="#"><i class="social_twitter"></i></a>
						<a href="#"><i class="social_linkedin"></i></a>
						<a href="#"><i class="social_pinterest"></i></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!--contact-area end-->

<!--  Gallery SECTION  -->
<section class="section-content-block section-pure-white-bg" >
    <div class="container wow slideInUp">
        
        <div class="container">
            <div class="row section-heading-wrapper">
                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h3 class="extra-large welcome-h">5 Years of Excellence - Celebration</h3>
                </div>
            </div>

            <div class="row">
                <p style="padding: 10px;" class="text-set">
                    Cheers to electionsmanagement on completing 5 years of success! We celebrate 
                    this milestone and look forward to continued growth and achievements. #5thAnniversary 
                    #electionsmanagement
                </p>
            </div>
        </div>
        <!--  Start Gallery SECTION  -->
        <div class="row">
            <div class="highlight-carousel text-center owl-carousel"  data-nav="false" data-dots="true" data-autoplaytimeout="50000">
                {% for gallery in gallery %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="highlight-layout-1 theme-custom-box-shadow theme-custom-box-animation">
                        <figure>
                            <img src="{{gallery.image.url}}" alt="" />
						</figure>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--  End Service SECTION  -->
    </div>
</section>
<!--  End Gallery SECTION-->
{% endblock content %}