{% extends 'base.html' %}
{% load static %}
{% block content %}

 <div class="container">
<div class="col-sm-12">
{% if polling %}
    <table class="table">
        <thead>
            <tr>
            <th scope="col">State</th>
            <th scope="col">Exit_Poll</th>
            <th scope="col">Result</th>
            </tr>
        </thead>

        <tbody>
        {% for poll in polling %}
            <tr>
            <td><a class="statetext" href="{% url 'pollingdetails' poll.state_to_url%}">{{poll.state|title}}</a></td>
            <td>{{poll.Exit_Poll}}</td>
            <td>{{poll.Result}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
    {% else %}
        <h4 class="text-center alert alert-warning"> No Data </h4>
{% endif %}   
    </div>

</div>


<!--  SERVICES SECTION  -->
<section class="section-content-block section-pure-white-bg" >
    <div class="container wow slideInUp">
        <!--  Start Service SECTION  -->
        <div class="row section-heading-wrapper">
            <div class="col-md-12 col-sm-12 text-center no-img-separator">
                <h2 class="extra-large"> Our Services </h2>
                <span class="heading-separator heading-separator-horizontal"></span>
            </div>
        </div>

        <div class="row">
            <div class="highlight-carousel text-center owl-carousel"  data-nav="false" data-dots="true" data-autoplaytimeout="50000">
                {% for serv in services %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="highlight-layout-1 theme-custom-box-shadow theme-custom-box-animation">
                        <figure><a href="{% url 'services' serv.title_to_url%}">
                            <img src="{{serv.First_Service_Image.url}}" alt="" /></a></figure>
                            <a href="{% url 'services' serv.title_to_url%}"><h4>{{serv.Service_Title|title}}</h4></a>
                        <a href="{% url 'services' serv.title_to_url%}" class="btn btn-theme btn-small theme-custom-box-shadow">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--  End Service SECTION  -->
    </div>
</section>
<!--  End SERVICES SECTION-->
{% endblock content %}